{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block links %}

<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- END JQUERY -->

<!-- HIGHCHARTS -->
<script src="http://code.highcharts.com/js/highcharts.js"></script>
<!-- END HIGHCHARTS -->

<!-- CSS for highcharts -->
<link rel="stylesheet" href="{%  static 'css/highcharts.css' %}"/>
<!-- <link rel="stylesheet" href="{%  static 'css/highcharts.scss' %}"> -->
<!-- END CSS highcharts -->

{% load chartit %}
{{ chart_list|load_charts:"countrychart,statechart,citychart" }}


{% endblock %}


{% block content %}

<div class="container">
    <h2>Top 10 highest Stress</h2>
    <div class="col-md-6">
    	
        <div id="countrychart"> Country Chart</div>

    </div>
    <div class="col-md-6">
    	
        <div id="statechart" > State Chart</div>
	</div>

    <div class="row">
        
        <div id="citychart"> City Chart</div>
    </div>
    
</div>
</br></br></br>

{% endblock %}