{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block links %}

<!-- LEAFLET -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script type="text/javascript" src="{%  static 'leaflet/leafletembed.js' %}"></script>
<!-- END LEAFLET-->

{% endblock %}

{% block content %}

<div class="container">
	<!-- Example row of columns -->
  	<div class="row">
    	<div class="col-md-2">
      		<h2>Menu</h2>
      		<p>Here is the menu</p>
    	</div>
    <div class="col-md-16">
    	<h2>Map</h2>
       		<div id="map"></div>
        	<script>
        		initmap();
        		drawPoint();
        		drawTrips();
        	</script>
    </div>
</div>

{% endblock %}