{% extends "base.html" %}

{% load staticfiles %}
{% load static %}
{% load leaflet_tags %}

{% block links %}

<!-- LEAFLET -->
    {% leaflet_js %}
    {% leaflet_css %}
<!-- <script type="text/javascript" src="{%  static 'leaflet/leafletembed.js' %}"></script> -->
<!-- END LEAFLET-->

{% endblock %}

{% block content %}

<div class="container">
	<!-- Example row of columns -->
  	<div class="row">
    	<div class="col-md-2">
      		<h2>Menu</h2>
      		<p>Here is the menu</p>
    	</div>
    <div class="col-md-16">
    	<h2>Map</h2>
       		<div>
            {% leaflet_map "map" %}
          </div>
    </div>
</div>

{% endblock %}