{% extends "base.html" %}

{% load staticfiles %}
{% load static %}
{% load leaflet_tags %}

{% block links %}

<!-- LEAFLET -->
    {% leaflet_js %}
    {% leaflet_css %}
<script type="text/javascript" src="{%  static 'customleaflet/leafletembed.js' %}"></script>
<!-- END LEAFLET-->

<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- END JQUERY -->

{% endblock %}

{% block content %}

<div class="container">
	<!-- Example row of columns -->
  	<div class="row">
    	<div class="col-md-2">
      		<h2>Menu</h2>
      		<button type="submit" class="btn btn-info" onclick="location.href='{% url 'downloadfile' %}'">Download CSV</button>
          <button type="submit" class="btn btn-danger" onclick="location.href='{% url 'deletedata' %}'">Delete Data</button>
    	</div>
    <div class="col-md-16">
    	<h2>Map</h2>
       		<div>
            {% csrf_token %}
            {% leaflet_map "map" callback="initmap" %}
          </div>
    </div>
</div>

{% endblock %}