/* ==========================================================================
   Gorka's custom styles
   ========================================================================== */

/* LEAFLET */
.leaflet-container {  /* all maps */
    /* width:  600px;
    height: 400px; */
    height: 500px;
}

#mapjs { 
	height: 100%; 
}
